<div>
    <%- include("partials/header") -%>
    <div class="card" style="background-color: white;">


       <div class="title">
        <h1>MENTOR</h1>
       </div>
       <div class="des">
          <a href="MentorForm">
             <button type="button">FORM</button>
          </a>
       </div>
       </div>
       <div class="card" style="background-color: white;">


          <div class="title">
           <h1>MENTEE</h1>
          </div>
          <div class="des">
             <a href="MenteeForm">
                <button type="button">FORM</button>
             </a>
          </div>
          </div>

          <div class="title">
           <h1>Generate Resume</h1>
          </div>
          <div class="des">
             <a href="https://builder.zety.com/resume">
                <button type="button">Generate</button>
             </a>
          </div>
          </div>

      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>

    <%- include("partials/footer") -%>
    </div>
