<div style="background-color: #ebf0fc;">
    <%- include("partials/header") -%>
    <div class="card" style="background-color: white;">


       <div class="title">
        <h1>MENTOR</h1>
       </div>
       <div class="des">
          <a href="MentorForm">
             <button type="button">FORM</button>
          </a>
       </div>
       </div>
       <div class="card" style="background-color: white;">


          <div class="title">
           <h1>MENTEE</h1>
          </div>
          <div class="des">
             <a href="MenteeForm">
                <button type="button">FORM</button>
             </a>
          </div>
          </div>

    <%- include("partials/footer") -%>
    </div>
