body{
margin:0px;
background-color: #e0ebe8;
text-align: center;
font-family: "Merriweather",serif;
color:#40514E
}
h1{
margin:0 auto 0 auto;
margin-top: 100px;
color: #45b29a;
font-family: 'Ms Madi', cursive;
font-size: 90px;
line-height: 2;
font-weight:bold;
padding-bottom:10px;
}
h3{
margin:0 auto 0 auto;
color:#45b29a;
font-family: 'Courier New', Courier, monospace;
font-size:30px
}
h2{
color: #0aa07f;
font-weight: normal;
font-family: 'Courier New', Courier, monospace;
}
.top-container{
background-color:#e0ebe8;
}
.middle-container{
background-color: #e0ebe8;
margin-left: 100px;
}
.bottom-container{
background-color: #c4e4dd;
margin-top: 30px;
}
.top-cloud
{
position:absolute;
top:20px;
right:250px;
}
.bottom-cloud
{
position: absolute;
}
.profile-img{
height: 200px;
width: 200px;
margin-left: 0px;
margin-right: auto;
border-radius: 100%;
margin-top: 30px;
}
.skill1{
height: 200px;
width: 200px;
margin-left: 50px;
margin-right: auto;
text-align: left;
float:left;
}
.skill2{
height: 200px;
width: 200px;
margin-right:100px ;
text-align: left;
float:right;
}
.skil-row{
text-align: left;
height: 200px;
width: 200px;
margin-top: 30px;
}
.education{
background-color: #c4e4dd;
margin-top: 30px;
}
.skills{
text-align: center;
margin-top: 10px;
margin:auto
}
.hobbies{
text-align: center;
background-color: #c4e4dd;
height: 370px;
margin-top: 30px;
}
.skill-row{
text-align: left;
}
.skill-row1{
text-align: right;
}
hr{
border-style: dotted none none;
border-color:grey;
border-width:5px;
height: 0px;
width: 50px;
margin:100px auto ;
text-align: center;
}
.intro{
width:50%;
margin:auto;
}
.study{
width:50%;
margin:auto;
}
p{
line-height: 2;
}
table{
margin: auto;
}
.btn {
background: #45b29a;
background-image: -webkit-linear-gradient(top, #45b29a, #45b29a);
background-image: -moz-linear-gradient(top, #45b29a, #45b29a);
background-image: -ms-linear-gradient(top, #45b29a, #45b29a);
background-image: -o-linear-gradient(top, #45b29a, #45b29a);
background-image: linear-gradient(to bottom, #45b29a, #45b29a);
-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 28px;
font-family:'Courier New', Courier, monospace ;
color: #fcfcfc;
font-size: 19px;
padding: 10px 20px 10px 20px;
text-decoration: none;
margin-left:550px;
margin-right:550px;
}
.btn:hover {
background: #91e6ce;
text-decoration: none;
}
a{
color:rgb(150, 193, 193);
text-decoration: none;
margin:10px 20px;
}
a:hover{
color:#fcfcfc
}
